$white: #ffffff;
$ltGray: #f5f5f5;

// -- project colors : 

// *primary colors : 

$moderate_cyan: hsl(176, 50%, 47%); 
$dark_cyan: hsl(176, 72%, 28%); 

// *nat colors : 

$black: hsl(0, 0%, 0%);
$dk_gray: hsl(0, 0%, 48%); 